<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nativeUITools" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NativeUITools</name>
    <js-module name="NativeUITools" src="www/NativeUITools.js">
        <clobbers target="cordova.NativeUITools" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NativeUITools">
                <param name="android-package" value="org.apache.cordova.nativeUITools.NativeUITools" />
            </feature>
        </config-file>
        <source-file src="src/android/NativeUITools.java" target-dir="src/org/apache/cordova/nativeUITools/NativeUITools" />
    </platform>
    <platform name="ios">

        <config-file target="config.xml" parent="/*">
            <feature name="StatusBar">
                <param name="ios-package" value="CDVStatusBar" />
                <param name="onload" value="true" />
            </feature>
            <preference name="StatusBarOverlaysWebView" value="true" />
            <preference name="StatusBarStyle" value="lightcontent" />
        </config-file>

        <header-file src="src/ios/CDVStatusBar.h" />
        <source-file src="src/ios/CDVStatusBar.m" />

    </platform>
</plugin>
